@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: red;
  width: 100vw;
}

header nav ul {
  margin: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  font-size: 2rem;
  padding: 10px 0px;
}

header nav ul li {
  /* background-color: aquamarine; */
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color 300ms ease-in-out;
}

header nav ul li:hover {
  background-color: aquamarine;
  transition: all 300ms ease-in-out;
}

.test {
  background-color: black;
  width: 100vw;
  color: white;
  height: calc(100vh - 66px);
}
