.test {
  background-color: red;
  /* padding: 10px; */
  border: 5px solid black;
  /* margin-bottom: 20px; */
}

.box {
  height: 100px;
  width: 100px;
  background-color: blue;
  border: 10px solid black;
  padding: 10px;
}

.box3 {
  height: 100px;
  width: 100px;
}


.box2 {
  height: 100px;
  width: 100px;
  background-color: rgb(57, 57, 68);
  border: 10px solid black;
  padding: 10px;
}