 html,
 body {
     margin: 0;
     padding: 0;
 }

 .parent-container {
     position: relative;
     height: 500px;
     width: 500px;
     background-color: blueviolet;
 }

 .position-1 {
     position: static;
     background-color: aqua;
     height: 300px;
     width: 300px;
 }

 .position-2 {
     position: fixed;
     padding: 20px;
     top: 10px;
     right: -100px;
     background-color: red;
     z-index: 3;
 }

 .position-3 {
     position: fixed;
     top: 10px;
     padding-right: 40px;
     right: 0;
     background-color: blue;
     z-index: 4;
 }

 .position-absolute {
     position: absolute;
     top: 0px;
     left: 0px;
     background-color: brown;
     width: 100px;
     height: 100px;
 }

 nav {
     position: sticky;
     top: 10px;
     background-color: black;
     color: white;
     width: 100vw;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav-parent {
     display: flex;
     gap: 30px;
     justify-content: start;
 }