:root {
  --primary-color: #30364f;
  --primary-background-color: #acbac4;
  --secondary-color: #e1d9bc;
  --secondary-background-color: #f0f0db;
  --primary-font: Inter;
  --secondary-font: "Special Gothic Condensed One";
  --border-radius: 8px;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-background-color);
}
* {
  font-family: var(--primary-font);
}

.button-primary {
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: var(--border-radius);
}
.heading-text {
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

header {
  background-color: var(--secondary-color);
}
header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 10px 0;
}

header nav li {
  font-family: var(--secondary-font);
  font-size: 2rem;
  padding: 6px 20px;
  border-radius: 2px;
  color: var(--primary-color);
}

header nav li:hover {
  background-color: var(--secondary-background-color);
  cursor: pointer;
}
.container {
  padding: 0 20px;
}
.dropdown-trigger {
  position: relative;
}
.dropdown-container {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  height: 200px;
  width: 100px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  bottom: -200px;
  transition: display 1s ease-in-out;
}

.dropdown-trigger:hover .dropdown-container {
  display: block;
  transition: display 1s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

.img-container {
  width: 200px;
  height: 200px;
  border: 3px solid var(--primary-color);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-gallery {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 15px;
}
.grid-child {
  background-color: rebeccapurple;
  height: 100px;
}
.grid-item-1 {
  grid-area: 1 / 1 / 2 / 4;
}
.grid-item-2 {
  grid-area: 1 / 4 / 2 / 5;
}
.grid-item-3 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-item-4 {
  grid-area: 2 / 2 / 3 / 5;
}
.grid-item-5 {
  grid-area: 3 / 1 / 4 / 2;
}
.grid-item-6 {
  grid-area: 3 / 2 / 4 / 5;
}
